<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>File Lister</title>

    <link rel="stylesheet" href="stylesheets/pure-min.css">
    <link rel="stylesheet" href="stylesheets/fonts.css">
    <link rel="stylesheet" href="stylesheets/book_viewer.css">
</head>

<body>

  <div id="layout">

      <div id="main">
        <div class="header">
          <h1>File Lister</h1>
        </div>

        <div class="content">
          <h2 class="content-subhead">Available files</h2>

          <div class="pure-menu">
            <ul class="pure-menu-list">
              <% @files.each do |file| %>
              <li class="pure-menu-item">
                <a href="/<%= file %>" class="pure-menu-link"><%= file %></a>
              </li>
              <% end %>
            </ul>
          </div>

          <p>
            <% if params[:sort] == "desc" %>
              <a href="/">Sort ascending</a>
            <% else %>
              <a href="/?sort=desc">Sort descending</a>
            <% end %>
          </p>

        </div>
      </div>
  </div>

  <script type="text/javascript" src="/javascripts/ui.js"></script>
</body>
</html>
